# ===========================
# Logs
# ===========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===========================
# Dependencies
# ===========================
node_modules

# ===========================
# Build Output
# ===========================
dist
dist-ssr
*.local

# ===========================
# Build Cache
# ===========================
.vite/
.cache/
coverage/

# ===========================
# Environment / Secrets
# ===========================
.env
.env.*
!.env.template

# ===========================
# Editor Directories and Files
# ===========================
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
desktop.ini