# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment / Secrets
# ===========================
.env
.env.*
!.env.template

# ===========================
# Editor
# ===========================
.vscode/
.idea/